@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@400;500;600&display=swap');

:root {
    /* COLORS */
    --primary-color: #FE5303;

    --white: #ffffff;
    --black: #000000;

    /* FONTS */
    --heading-font: font-family: 'Playfair Display', serif;

    --space-xs-0-8rem: 0.8rem;
    --space-sm-1-2rem: 1.2rem;
    --space-md-1-6rem: 1.6rem;
    --space-lg-2-4rem: 2.4rem;
    --space-xl-4rem: 4rem;
    --space-2xl-74rem: 7.4rem;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    color: #222;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

section {
    padding: var(--space-2xl-74rem) 0;
}

h2 {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 700;
    margin-top: 0;
}

.container {
    max-width: 120rem;  /** 1200px **/
    padding: var(--space-lg-2-4rem);
    margin: 0 auto;
}

/** HERO AREA*/
.hero-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/image-1.png);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-area header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservations {
    background-color: var(--primary-color);
    border: none;
    padding: var(--space-sm-1-2rem) var(--space-lg-2-4rem);
    border-radius: 5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.reservations i {
    margin-right: var(--space-xs-0-8rem);
}

.main-heading {
    font-family: var(--heading-font);
    font-size: 3.25rem;
    font-weight: 700;
    max-inline-size: 62rem;
}

.adventures {
    text-transform: capitalize;


    display:  flex;
    align-items: center;
}

.adventures i {
    margin-left: 1.2rem;
    padding: 1rem;

    font-size: 2.5rem;
    border: 0.1rem solid #fff;
    border-radius: 50%;
}

.booking {
    margin-top: 10rem;
}

.booking__inputs {
    background-color: #fff;
    color: #222;
    padding: var(--space-lg-2-4rem);
    border: radius 0.8rem;

    display: -ms-grid;
    display: grid;
    gap: 1.6rem;
}

.booking__input label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #bdbdbd;
    font-weight: 500;
}

.booking__input input,
.booking__input select {
    display: block;
    width: 100%;
    border: none;
    padding: 0.8rem 0;

    font-weight: 500;
    cursor: pointer;
}

.booking__button {
    background-color: var(--primary-color);
    padding: var(--space-xl-4rem);
    border-radius: 0.8rem;


    font-weight: 500;
    text-transform: uppercase;

    margin-top: var(--space-sm-1-2rem);
    box-shadow: 0px 4px 20px rgba(254, 83, 3, 0.6);
}

/** HERO MEDIA QUERIES */
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .booking__inputs {
        display: -ms-grid;
        -ms-grid-columns: repeat(3, 1fr);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .booking__input {
        padding: 0 var(--space-lg-2-4rem);
        border-left: 0.1rem solid #e0e0e0;
    }

    .booking__input:first-child {
        border: none;
        padding-left: 0;
    }

    .booking__input:last-child {
        padding-right: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .booking {
        display: flex;
    }

    .booking__button {
        margin-top: 0;
        margin-left: var(--space-sm-1-2rem);
    }
}

/* ABOUT US */
.section-name {
    text-transform: uppercase;
    color: #bdbdbd;
    font-weight: 500;
    font-size: 0.875rem;
}

.about-us p {
    color: #828282;
    margin: 0;
}

.about-us img {
    border-radius: var(--space-xs-0-8rem);
    width: 100%;
}

.about-us__content {
    margin-top: var(--space-lg-2-4rem);

    display: -ms-grid;
    gap: var(--space-xl-4rem);

    display: grid;
    gap: var(--space-xl-4rem);
}

.about-us__content--left,
.about-us__content--right {
    
    
    display: -ms-grid;
    display: grid;
    gap: var(--space-lg-2-4rem);
}

/** ABOUT US MEDIA QUERIES */
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .about-us__content {
        -ms-grid-columns: 1fr 1fr;

        grid-template-columns: 1fr 1fr;
    }

    .about-us__content--right img {
        order: -1;
    }
}

/* ACCOMMODATIONS */
.accommodations__header {
    margin-top: var(--space-md-1-6rem);
}

.text-button {
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.text-button i {
    margin-left: var(--space-sm-1-2rem);
}

.stays {
    margin-top: var(--space-lg-2-4rem);

    display: -ms-grid;

    display: grid;
    gap: var(--space-xl-4rem);
}

.stay-card {
    border-radius: var(--space-xs-0-8rem);
    overflow: hidden;

    position: relative;
    color: var(--white);

    height: 30rem;
}

.stay-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    transition: opacity 200ms ease-in-out;
}

.stay-card:hover::before {
    opacity: 0;
}

.stay-card:hover .stay-card__name {
    transform: translateX(calc(-100% - var(--space-lg-2-4rem)) );
}

.stay-card:hover .stay-card__price {
    transform: translateX(calc(-100% - var(--space-lg-2-4rem)) );
}

.stay-card img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.stay-card__details {
    position: absolute;
    bottom: var(--space-lg-2-4rem);
    left: var(--space-md-1-6rem);
}

.stay-card__name {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: var(--space-sm-1-2rem);
    transition: transform 200ms ease-in-out;
}

.stay-card__price {
    font-weight: 500;
    transition: transform 200ms ease-in-out 100ms;
}

/** ACCOMMODATIONS MEDIA QUERIES */
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .stays {
        -ms-grid-columns: 1fr 1fr;

        grid-template-columns: 1fr 1fr;
    }

    .stay-card--col-2 {
        grid-column: 1 / span 2;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .stays {
        -ms-grid-columns: 1fr 1fr 1fr;

        grid-template-columns: 1fr 1fr 1fr;
    }
}